<div class="faq">
<center>
  <div class="title">
  <h1>
  FAQ
</h1>
  </div>
<p>
  <p>
    <strong>
    What is "Dennis Thoughts"?
    </strong>
    </p>
    <p>
Dennis Thoughts is an English-language blog that serves as "a recollection of everyday anecdotes likely to happen to anyone". Posts on the site are short, user-submitted stories of unfortunate happenings.
</p>
  <p>
Dennis Thoughts was created on July 5, 2017 by Dennis "Sunshine" Cali, Julia "Find your Zen" Yulia and Baby Steve "8 years old".
Anybody who visits the site can decide if the writer of each anecdote's life indeed "sucks" or if he or she "deserved" what happened. Members can submit stories and leave comments.
</p>
<p>
  We tweet a lot. We're on Facebook and Instagram and Covfefe.

You can email us, but We're terrible at responding.  It’s not you.  It’s us.  Unless you’re emailing to ask us to shill toilet paper for free.  Then it’s you. We're at Dennisthoughts@chachacha (dot) com.
<div class="dot">
</p>
<strong>
All work on this site is copyrighted and cannot be reprinted without express consent of Dennis "Sunshine" Cali. Just ask first, okay?
</strong>
<p>
</div>
</p>
</center>
</div>
</div>
