<div class="fq">
<p>
  F&Q
</p>
<p>
  What is "Dennis Thoughts"?
  Dennis Thoughts is an English-language blog that serves as "a recollection of everyday anecdotes likely to happen to anyone". Posts on the site are short, user-submitted stories of unfortunate happenings.
  Dennis Thoughts was created on July 5, 2017 by Dennis "Sunshine" Cali, Julia "Find your Zen" Yulia and Baby Steve "8 years old". Anybody who visits the site can decide if the writer of each anecdote's life indeed "sucks" or if he or she "deserved" what happened. Members can submit stories and leave comments.
</p>
</div>
</div>