<div class="faq">
<center>
  <div class="title">
  <p>
    <strong>
  FAQ
  </strong>
</p>
  </div>
<p>
  <p>
    <strong>
    What is "Dennis Thoughts"?
    </strong>
    </p>
    <p>
Dennis Thoughts is an English-language blog that serves as "a recollection of everyday anecdotes likely to happen to anyone". Posts on the site are short, user-submitted stories of unfortunate happenings.
</p>
  <p>
Dennis Thoughts was created on July 5, 2017 by Dennis "Sunshine California dreamin'", Julia "Call me maybe" Yulia, and Baby Steve "8, almost 9 years old".
Anybody who visits the site can decide if the writer of each anecdote's life indeed "sucks" or if he or she "deserved" what happened.
</p>
<p>
  We chat a lot. We're on <a href="https://www.facebook.com/lifealert/">Facebook</a> and <a href="https://www.instagram.com/newyorkcity/?hl=en">Instagram</a> and   <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Covfefe</a>.

You can email us, but we're terrible at responding.  It’s not you.  It’s us.  Unless you’re emailing to ask us to shill toilet paper for free.  Then it’s you.<br>Actually, scratch that, <strong>it's most definitely you</strong>.<br> But if have to message us, you can reach us at Dennis At Thoughts Dot Com (<em>ever heard of it?</em>).
<div class="dot">
</p>
<strong>
All work on this site is copyrighted and cannot be reprinted without express consent of Dennis "Sunshine California dreamin'". <br>Just ask first, okay?
</strong>
<p>
</div>
</p>
</center>
</div>
</div>
