<form class="newpost" method="post">
  <input name="title" placeholder="Title">
  <textarea name="body" placeholder="Some Shitty Thoughts..."></textarea><br>
  <div class="submitbutton"><input type="submit" value="Post"></div>
</form>
