<div class="profileBody">
  <div class="userInfo">
    <h4>User Info</h4>
    <p>Name: <%= @current_user.first_name %> <%= @current_user.last_name %></p>
    <p>Username: <%= @current_user.username %></p>
    <p>Bio: </p>
  </div>
  <div class="posts">
    <h4>Posts by <%= @current_user.first_name %></h4>
  </div>
</div>
