<div class="container">
  <div class="left">
    <div class="leftleft">
      <img src="/images/placeholder.png" width="100%">
    </div>
    <div class="leftright">

    </div>
  </div>
  <div class="right">
    <div class="follow">

    </div>
    <div class="aboutme">

    </div>
  </div>
</div>
